li{
    text-decoration: none;
    height: 30px;
}

ul{
    background-color: cadetblue;
    color: white;
    height: 30px;
    
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}
.component-nav{
    background-color: cadetblue;
}
