<div class="row" >
    <div class="card" style="width: 18rem;" *ngFor="let blog of blogs">
      <img src="{{ blog.img }}" class="card-img-top" alt="{{ blog.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ blog.name }}</h5>
        <p class="card-text">{{ blog.sDesc }}</p>
        <a routerLink='{{ blog.id }}' class="btn btn-primary">Details</a>
        <button type="button" class="btn btn-primary canc" (click)="delete( blog.id )">Verwijder</button>
      </div>
    </div>
</div>